<div id='articleContent'>
	<msgqueue for="$theController->messageQueue()" />
	
	<h1 class="article_title">{=$article['title']}</h1>
	<div class="article_createTime">{=date("Y年m月d日 H:m:s", $theModel['createTime'])}</div>
	<div class="article_content">
		{=$theController->getContentWithAttachmentUrl($theModel['text'] , $theModel['attachment'])}
	</div>
	
	<if "$attachment['attachment']">
	<div class='article_attachment_list'>
		<span>附件列表:</span>
		<foreach for='$theModel["attachment"]' item='attachment'>
			<if "!$attachment['displayInList']">
				<continue/>
			</if>
			<div class='article_attachment'>
				<a href="{=$theController->getHttpUrl($attachment['storepath'])}">{=$attachment['orginname']}</a>
				{=$attachment['size']/1000}KB
			</div>
		</foreach>
	</div>
	</if>
	
</div>