<div id='articleList'>
	<msgqueue for="$theController->messageQueue()" />
	<table border="1" width='100%'>
		<thead>
			<tr height="30">
				<th>文章名称</th>
				<th width="300">日期</th>
			</tr>
		</thead>
		<tbody id="tableStyle">
			<model:foreach>
			<tr>
				<td><a href="/?c=org.opencomb.opencms.article.ArticleContent&aid={=$theModel['aid']}"><data>title</data></a></td>
				<td>{=date("Y年m月d日 H:m:s", $theModel['createTime'])}</td>
			</tr>
			</model:foreach>
		</tbody>
	</table>
	<script type="text/javascript">
var TbRow = document.getElementById("tableStyle");
if (TbRow != null){
	for (var i=0;i<TbRow.rows.length ;i++ ){
		if (TbRow.rows[i].rowIndex%2==1){
			TbRow.rows[i].style.backgroundColor="";
		}
		else{
			TbRow.rows[i].style.backgroundColor="#F1F1F1";
		}
	}
}
</script>
</div>

<widget id="paginator" attr.nums="5" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="1" attr.showNext="1" />

<views/>