<div id='articleList'>
	<msgqueue for="$theController->messageQueue()" />
	<table border="1" width='100%'>
		<thead>
			<tr height="30">
				<th>文章名称</th>
				<th width="300">日期</th>
			</tr>
		</thead>
		<tbody>
			<model:foreach>
			<tr>
				<td><a href="/?c=org.opencomb.opencms.article.ArticleContent&pid={=$theModel['pid']}"><data>post.title</data></a></td>
				<td>{=date("Y年m月d日 H:m:s", $theModel['post.createTime'])}</td>
			</tr>
			</model:foreach>
		</tbody>
	</table>
</div>

<widget id="paginator" attr.nums="5" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="0" attr.showNext="0" />

<views/>