<h2>{=$page_h1}</h2>
<msgqueue />
<form method="post" enctype="multipart/form-data">   {*action="/?c=org.opencomb.opencms.article.CreateArticle"}
	<label><div class="coresystem-form-title"><span>文章标题</span><widget id="article_title" /></div></label>
	<label><div class="coresystem-form-select"><span>所属分类</span><widget id="article_cat" /></div></label>
	<label><div class="coresystem-form-textarea"><!--<span>文章内容</span>--><widget id="article_content" /></div></label>
	
	<div class='article_exist_files_list'>
		<!-- 已上传文件的容器 -->
		{=$sAttaListHtml}
	</div>
	
	<div class='article_files_list'>
		<!-- 上传新文件的容器 -->
	</div>
	
	<input id='add_file' type="button" value="添加附件" />
	
	<input type='submit' value="发布文章" class="coresystem-form-button" />
</form>

<!-- 上传文件的部分,只是模板,js根据情况动态添加到容器中 -->
<div class='article_file_template' style='display:none'>
	<input name='article_files[]' class='article_file_input' type='file' value="文章附件" />
	<a href='#' class='article_files_into_content' index='1' title='将附件插入到文档中,如果是图片就当作插图显示,如果是文件就插入链接'>插入到文章</a>
	<label>显示在附件列表<input name="article_list[]" class='article_list' type='checkbox' value='1' checked/></label>
	<a href='#' class='article_files_delete'>删除</a>
</div>
<!-- end 上传文件的部分,只是模板 -->
		
<lib name='jquery'/>
<script>
jquery(function(){
	//动态增加传文件框体
	if(typeof file_num == 'undefined'){
		file_num = 2; //附件计数
	}
	var article_file = jquery('.article_file_template').clone();
	article_file.removeClass('article_file_template').addClass('article_file').css({'display':'block'});
	
	jquery('#add_file').click(function(){
		var article_file_clone = article_file.clone();
		article_file_clone.find('.article_list').val(file_num);
		article_file_clone.find('.article_files_into_content').attr('index',file_num);
		file_num++;
		jquery('.article_files_list').append(article_file_clone);
	});
	jquery('#add_file').click();//添加默认的一个文件上传框体
	
	//附件插入正文
	jquery('.article_files_into_content , .article_exist_files_into_content').live('click',function(){
		CKEDITOR.instances.article_content.insertText('[attachment '+jquery(this).attr('index')+']');
		return false;
	});
	
	function insertContent(){
		
	}
	
	//删除新增附件(未上传)
	jquery('.article_files_delete').live('click',function(){
		jquery(this).parents('.article_file:first').remove();
		return false;
	});
	
	//删除已存在附件
});
</script>