<css src="opencms:css/ArticleList.css"/>
<div id='articleList' class="articleList">
	<msgqueue for="$theController->messageQueue()" />
	<table class="article-table" width='100%' style="font-size:12px">
		<thead>
			<tr height="30">
				<th>文章名称</th>
				<td>分类名称</td>
				<th>日期</th>
			</tr>
		</thead>
		<tbody id="tableStyle" >
			<model:foreach>
			<tr>
				<td height="25px">
					{#?
						$sStyle = '';
						$sStyle.=$theModel['title_bold']==1 ? 'font-weight: bold;' : '';
						$sStyle.=$theModel['title_italic']==1 ? 'font-style: italic;' : '';
						$sStyle.=$theModel['title_strikethrough']==1 ? 'text-decoration:line-through;' : '';
						$sStyle.=$theModel['title_color']!='' ? 'color:'.$theModel['title_color'].';' : '';
						$sUrl= empty($theModel['url']) ? "?c=org.opencomb.opencms.article.ArticleContent&aid={$theModel['aid']}" : $theModel['url'];
					#}
					<a href='{=$sUrl}&cid={=$theModel["cid"]}'  style='{=$sStyle}'>
						{=$theModel['title']}
					</a>
				</td>
				<td>{=$theModel['category.title']}</td>
				<td class="article_time">{=date("Y年m月d日 H:m:s", $theModel['createTime'])}</td>
			</tr>
			</model:foreach>
		</tbody>
	</table>
</div>

<widget id="paginator" attr.nums="5" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="1" attr.showNext="1" />
