<div id='artList'>
	<a href='?c=org.opencomb.opencms.article.CreateArticle'>新建文章</a>
	<script type="text/javascript">
		function confirmDel(){
			if(!confirm("确认删除文章吗?")){
				return false;
			}
		}
	</script>
	<table border="1" width='100%'>
		<thead>
			<tr height="30">
				<th width="60">id</th>
				<th>文章名称</th>
				<th width="100">文章栏目</th>
				<th width="40">编辑</th>
				<th width="40">删除</th>
			</tr>
		</thead>
		<tbody>
			<foreach for="$aArtIter" item="aArt">
			<tr>
				<td>{=$aArt['pid']}</td>
				<td><a href="?c=org.opencomb.opencms.article.ArticleContent&pid={=$aArt['pid']}">{=$aArt['post.title']}</a></td>
				<td><a href="?c=org.opencomb.opencms.article.ArticleList&cid={=$aArt['cid']}">{=$aArt['category.title']}</a></td>
				<td><a href="?c=org.opencomb.opencms.article.EditArticle&pid={=$aArt['pid']}">编辑</a></td>
				<td><a href="?c=org.opencomb.opencms.article.DeleteArticle&pid={=$aArt['pid']}" onclick="javascript:return confirmDel();">删除</a></td>
			</tr>
			</foreach>
		</tbody>
	</table>
</div>

<widget id="paginator" attr.nums="5" attr.showFirst="1" attr.showLast="1" attr.showTotal="1" attr.showPre="0" attr.showNext="0" />