<div id='articleContent'>
	<msgqueue for="$theController->messageQueue()" />
	<h1 class="article_title">{=$article['title']}</h1>
	<div class="article_createTime">{=date("Y年m月d日 H:m:s", $article['createTime'])}</div>
	<div class="article_content">{=$article['text']}</div>
	
	<div class='article_attachment_list'>
		<foreach for='$theModel->child("attachments")' item='attachment'>
			<if "!$attachment['displayInList']">
				<continue/>
			</if>
			{=$attachment['size']}
		</foreach>
	</div>
</div>
<views/>