<div id='catList'>
	<h2>栏目管理</h2>
	<div class="coresystem-submenu"><a href="?c=org.opencomb.opencms.category.CreateCategory&target=end">+添加顶级栏目</a></div>
	<script type="text/javascript">
		function confirmDel(){
			if(!confirm("确认删除栏目吗?")){
				return false;
			}
		}
	</script>
	<table>
		<thead>
			<tr height="30">
				<th width="60">id</th>
				<th >分类名称</th>
				<th width="90">新增子栏目</th>
				<th width="50">编辑</th>
				<th width="100">排序</th>
				<th width="50">删除</th>
			</tr>
		</thead>
		<tbody>
			<model:foreach>
			<tr>
				<td>{=$theModel['cid']}</td>
				<td><span class='cat_depth'>{=str_repeat("-", org\jecat\framework\mvc\model\db\Category::depth($theModel))}</span><a href="?c=org.opencomb.opencms.article.ArticleList&cid={=$theModel['cid']}">{=$theModel['title']}</a></td>
				<td><a href="?c=org.opencomb.opencms.category.CreateCategory&target={=org\jecat\framework\mvc\model\db\Category::rightPoint($theModel)}">新增子栏目</a></td>
				<td><a href="?c=org.opencomb.opencms.category.EditCategory&cid={=$theModel['cid']}">编辑</a></td>
				<td><a href="?c=org.opencomb.opencms.category.CategorySort&cid={=$theModel['cid']}&to=up">向上</a> | 
					<a href="?c=org.opencomb.opencms.category.CategorySort&cid={=$theModel['cid']}&to=down">向下</a></td>
				<td><a href="?c=org.opencomb.opencms.category.DeleteCategory&cid={=$theModel['cid']}" onclick="javascript:return confirmDel();">删除</a></td>
			</tr>
			</model:foreach>
		</tbody>
	</table>
</div>