<div id='indexManage'>
<msgqueue for="$theController->messageQueue()" />
	<div id="topListManage">
		<h1>首页最新文章列表设置</h1>
		<form method="POST">
			<table width="100%">
				<thead>
					<tr height="30">
						<th width="60">id</th>
						<th>分类名称</th>
						<th width="90" title="选中:在首页添加此分类的最新文章的列表">首页</th>
						<th width="100" title="是否显示子栏目的文章">子栏目</th>
						<th width="60" title="显示多少文章">显示文章数</th>
					</tr>
				</thead>
				<tbody id="tableStyle">
					<model:foreach>
					<tr height="60">
						<td>{=$theModel['cid']}</td>
						<td><span class='cat_depth'>{=str_repeat("-", org\jecat\framework\mvc\model\db\Category::depth($theModel))}</span><a href="?c=org.opencomb.opencms.article.ArticleList&cid={=$theModel['cid']}">{=$theModel['title']}</a></td>
						<td>
							<label><input type='checkbox' name="cat[{=$theModel['cid']}][index_new]" value="1" {=(isset($arrTopLists[$theModel['cid']]['index_new']) && $arrTopLists[$theModel['cid']]['index_new'] == '1')? 'checked' : '' }/>显示最新</label>
							<br/>
							<label><input type='checkbox' name="cat[{=$theModel['cid']}][index_hot]" value="1" {=(isset($arrTopLists[$theModel['cid']]['index_hot']) && $arrTopLists[$theModel['cid']]['index_hot'] == '1')? 'checked' : '' }/>显示最热</label>
						</td>
						<td>
							<label><input type='checkbox' name="cat[{=$theModel['cid']}][subCat_new]" value="1" {=(isset($arrTopLists[$theModel['cid']]['subCat_new']) && $arrTopLists[$theModel['cid']]['subCat_new'] == '1')? 'checked' : '' }/>包括子栏目</label>
							<br/>
							<label><input type='checkbox' name="cat[{=$theModel['cid']}][subCat_hot]" value="1" {=(isset($arrTopLists[$theModel['cid']]['subCat_hot']) && $arrTopLists[$theModel['cid']]['subCat_hot'] == '1')? 'checked' : '' }/>包括子栏目</label>
						</td>
						<td>
							<input type='text' style="width:60px" name="cat[{=$theModel['cid']}][limit_new]" value="{=(isset($arrTopLists[$theModel['cid']]['limit_new']) && (int)$arrTopLists[$theModel['cid']]['limit_new'] > 0 )? $arrTopLists[$theModel['cid']]['limit_new'] : 10 }"/>
							<br/>
							<input type='text' style="width:60px" name="cat[{=$theModel['cid']}][limit_hot]" value="{=(isset($arrTopLists[$theModel['cid']]['limit_hot']) && (int)$arrTopLists[$theModel['cid']]['limit_hot'] > 0 )? $arrTopLists[$theModel['cid']]['limit_hot'] : 10 }"/>
						</td>
					</tr>
					</model:foreach>
				</tbody>
			</table>
			<input type="submit" class="coresystem-form-button" value="保 存"/>
		</form>
	</div>
<script type="text/javascript">
var TbRow = document.getElementById("tableStyle");
if (TbRow != null){
	for (var i=0;i<TbRow.rows.length ;i++ ){
		if (TbRow.rows[i].rowIndex%2==1){
			TbRow.rows[i].style.backgroundColor="";
		}
		else{
			TbRow.rows[i].style.backgroundColor="#F1F1F1";
		}
	}
}
</script>
</div>