<js src="opencms:js/topListShortTitle.js"/>
<div class='topList'>
	<msgqueue for="$theController->messageQueue()" />
	<a href="?c=org.opencomb.opencms.article.ArticleList&cid={=$nCid}" class="frontframe-more">更多</a>
	<h3>{=$sCategoryTitle}</h3>
	<table class='topList_titles' >
		<model:foreach>
		<tr>
			<td><a class='ellipsis_text' href='{=$sUrl}&cid={=$theModel["cid"]}' style='{=$sStyle}'>{=$theModel['title']}</a></td>
			<td class="topList_times"><span>{=date("Y年m月d日", $theModel['createTime'])}</span></td>
		</tr>
		<model:foreach:else/>
		<tr><td>没有文章可以显示</td></tr>
		</model:foreach>
	</table>
</div>